@import "./reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header div h1 {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header div h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* DarkTheme */
.darkMode {
  background-color: #002143;
}
.darkMode header,
footer {
  background-color: #002143;
  color: white;
}

.darkMode h3 {
  color: white;
}

/* Booking page - antd:steps */
.ant-steps-item-title::after {
  background-color: #002143 !important;
}
.ant-steps-item-title {
  color: #002143 !important;
  font-size: 16px !important;
  font-weight: 500;
}

/* 尾頁 */
footer {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: #1a6757;
}
