@import "./reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 1200px;
}
header div h1 {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header div h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* DarkTheme */
.darkMode header {
  background-color: black;
  color: white;
}
.darkMode h1 {
  color: white;
}
.darkMode h2 {
  color: white;
}
.darkMode header li {
  color: white;
}
.darkMode header ul :hover {
  color: black;
}
.darkMode {
  background-color: gainsboro;
}
.darkMode li {
  color: black;
}
.darkMode footer {
  background-color: black;
  color: white;
}

/* Booking page - antd:steps */
.ant-steps-item-title::after {
  background-color: black !important;
}
.ant-steps-item-title {
  color: black !important;
  font-size: 16px !important;
  font-weight: 500;
}

/* 尾頁 */
footer {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: #1a6758e8;
}
